<aside id="stickwithme" class="site">

  <div class="section">
      <header><div class="title">About The Author</div></header>
      <div class="content" style="font-size: .9rem">
          <p style="margin: 0px"><span style="font-size: 1.1rem;">Sohan Chowdhury</span> 
            <br/><br/>I am a Software Engineer currently working at Telenor Health AS. 
            <br /><br />During my student life I have worked with multiple startups and govt. projects, was team lead of Heisenbugs, achieving runner up positions in multiple hackathons.
             <br/>I graduated with Summa Cum Laude, two deans list awards, and published a paper in Computer Vision.
            <br /><br />My hobbies are travelling, trekking, wilderness camping &amp; gaming. 
            <br />I love learning new things and technologies, and always try to keep an open mind.</p>
          </div>
    </div>

  {{ if ne (len .Site.Menus) 0 }}
  <div class="section menu">
    <header><div class="title">Categories / Sections</div></header>

    {{ range .Site.Menus }}
    <ul>
      {{ range . }}
      <li>
        {{ if .HasChildren }}
        <a href="#">{{ .Pre }} {{ .Name }}</a>
        <ul>
          {{ range .Children }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ else }}
      <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
      {{ end }}
      {{end}}
    </ul>
    {{end}}

  </div>
  {{ end }}

  <div class="section">
    <header><div class="title">LatestPosts</div></header>
    <div class="content">
      {{ range first 3 .Site.Pages }}
      <div class="sm">{{ .Render "li" }}</div>
      {{ end }}
    </div>
  </div>

  {{ range $key, $value := .Site.Taxonomies }}
  <div class="section taxonomies">
    <header><div class="title">{{ $key | singularize }}</div></header>
    <div class="content" id="taxon-tags-cats">
      {{ range first 10 $value.ByCount }}<a class="btn btn-default btn-xs" href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a>{{ end }}
    </div>
  </div>
  {{ end }}

</aside>
